// -------------------Design-------------------------
.design-container{
    width: 50rem;
    margin: 8rem auto;
    .design-title{
        @include textStyle($mainFont, $bigTitleSize, $mainFontWeight, 5.8rem, $colorDark);
    }
    .design-text{
        @include textStyle($mainFont, $mainSize, $mainFontWeight, 2.4rem, $infoColor);
        padding-top: 2.5rem;
    }
    .design-link{
        @include textStyle($mainFont, $smallSize, $mainFontWeight, 2.1rem, $colorDark);
        padding-top: 2.5rem;
    }
}