// -------------------gray-------------------------
.gray-container{
    width: 95%;
    margin: 0 auto;
    background-color: $mainColor;
    margin-top: 10rem;
    position: relative;
    .gray-logo{
        width: 4rem;
        margin: 0 auto;
        text-align: center;
        height: 3.5rem;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        top: 30%;
        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    .gray-title{
        @include textStyle($mainFont, $bigTitleSize, $mainFontWeight, 5.8rem, $colorLight);
        padding-top: 18rem;
    }
    .gray-text{
        @include textStyle($mainFont, $mainSize, $mainFontWeight, 2.4rem, $colorLight);
        padding-top: 2.5rem;
        padding-bottom: 12rem;
    }
}