// -------------------Header-------------------------
.header-container{
    width: 100vw;
    margin: 0 auto;
}
.header-menu{
    width: 121rem;
    margin: 3rem auto;
    .toggle{
        display: none;
    }
    #checkbox-menu{
        display: none;
    }
    a{
        @include textStyle($mainFont, $smallSize, $mainFontWeight, 1.5rem, $colorDark);
        text-align: left;
    }
    .header-list-1{
        display: flex;
        align-items: center;
        .menu-link1{
            margin-right: 3rem;
        }
        .header-logo{
            margin-left: 40rem;
            margin-right: 40rem;
        }
    }
}

.header-content{
    width: 100%;
    margin: 0 auto;
    height: 100%;
    background-image: url(../IMG/header-bgr.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    .header-title{
        @include textStyle($mainFont, $bigTitleSize, $mainFontWeight, 4.6rem, $colorLight);
        padding-top: 18rem;
    }
    .header-text{
        @include textStyle($mainFont, $mainSize, $mainFontWeight, 1.8rem, $colorLight);
        padding-top: 1.2rem;
    }
    .header-link{
        @include textStyle($mainFont, $smallSize, $mainFontWeight, 1.5rem, $colorLight);
        padding-top: 3rem;
        padding-bottom: 20rem;
    }
}