// -------------------hope-------------------------
.hope-container{
    width: 40rem;
    margin: 0 auto;
    .hope-title{
        @include textStyle($mainFont, $titleSize, $mainFontWeight, 3.6rem, $colorDark);
        padding-top: 3rem;
    }
    .hope-link{
        @include textStyle($mainFont, $smallSize, $mainFontWeight, 2.1rem, $colorDark);
        padding-top: 4.5rem;
    }
}