// -------------------Made-------------------------
.made-container{
    width: 110rem;
    margin: 0 auto;
}
.made-item1{
    width: 80rem;
    margin: 0 auto;
    .made-title1{
        padding-top: 11rem;
        @include textStyle($mainFont, $titleSize, $mainFontWeight, 3.6rem, $colorDark);
    }
    .made-text1{
        padding-top: 2.5rem;
        @include textStyle($mainFont, $mainSize, $mainFontWeight, 2.4rem, $infoColor);
    }
}
.made-img{
    width: 100%;
    margin: 0 auto;
    text-align: center;
    padding-top: 2.5rem;
}
.made-item2{
    width: 80rem;
    margin: 0 auto;
    .made-title2{
        padding-top: 4rem;
        @include textStyle($mainFont, $titleSize, $mainFontWeight, 3.6rem, $colorDark);
    }
    .made-text2{
        padding-top: 2.5rem;
        @include textStyle($mainFont, $mainSize, $mainFontWeight, 2.4rem, $infoColor);
    }
}