@media screen and (max-width: 992px) {
    // ------------------Header-------------------------
    .wrapper{
        max-width: 992px;
    }
    .header-content{
        .header-title{
            padding-top: 10rem;
        }
        .header-link{
            padding:10rem 0;
            font-size: $middleSize;
        }
    }
    // -----------------design-------------------------
    .design-container{
        width: 50rem;
        margin: 3rem auto;
        .design-text{
            padding-top: 1.5rem;
        }
        .design-link{
            padding-top: 1.5rem;
        }
    }
    // -----------------computers-------------------------
    .computers-container{
        .computers-item1{
            margin-right: 2rem;
        }
        .computers-img{
            height: 35rem;
            width: 39rem;
        }
        .computers-title{
            padding-top: 3rem;
        }
    }
    // -----------------products-------------------------
    .products-container{
        width: 100%;
        margin: 5rem auto;
        .products-scroll{
            margin: 2.5rem auto;
        }
    }
    .products-row{
        width: 100%;
        margin: 0 auto;
        display: grid;
        grid-template-areas: "a b"
                             "c d";
        grid-template-rows: repeat(1fr,2);
        grid-template-rows: repeat(1fr,2);
        grid-gap: 5rem;
        justify-items: center;
        justify-content: center;
        align-items: center;
        align-content: center;
    }
    .products-card{
        margin: 0;
    }
    .products-card1{
      grid-area: a;  
    }
    .products-card2{
      grid-area: b;  
    }
    .products-card3{
      grid-area: c;  
    }
    .products-card4{
      grid-area: d; 
    }
    .products-img{
        width: 31rem;
        height: 43rem;
        img{
            width: 100%;
            height: 100%;
        }
    }
    // -------------------Made-------------------------
    .made-container{
        width: 75rem;
        .made-item1{
            width: 95%;
            .made-title1{
            padding-top: 8rem;
            }
        }
        .made-item2{
            width: 95%;
        }
    }  
    // -------------------gallery-------------------------
    .gallery-container{
        width: 95%;
        margin: 5rem auto;
        grid-template-rows: repeat(1fr,6);
        grid-template-columns: repeat(1fr,4);
        grid-template-areas: "a b c d"
        "e f a1 b1"
        "c1 d1 e1 f1"
        "a2 b2 c2 d2"
        "e2 f2 a3 b3"
        "c3 d3 e3 f3 "; 
        .gallery-item{
            width: 18rem;
            height: 25rem;
        }
    }
    // -------------------Footer-------------------------
    .footer-info{
        text-align: center;
        justify-content: center;
        align-items: center;
        margin-left: 0;
    }
}