/* ---------Commot settings------------ */
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: 0;
  padding: 0;
  margin: 0;
  border: 0;
}

html {
  font-size: 10px;
  line-height: 10px;
}

body {
  overflow-x: hidden;
}

ul, ol, li {
  list-style: none;
}

a {
  text-decoration: none;
}

.header-container {
  width: 100vw;
  margin: 0 auto;
}

.header-menu {
  width: 121rem;
  margin: 3rem auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-menu a {
  display: block;
  font-family: "Roboto", sans-serif;
  font-size: 1.3rem;
  line-height: 1.5rem;
  font-weight: 400;
  color: #000000;
  text-transform: uppercase;
}

.header-menu a:hover {
  text-decoration: underline;
}

.header-menu .header-list-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header-menu .header-list-1 .menu-link1 {
  margin-right: 2.5rem;
}

.header-content {
  width: 100%;
  margin: 0 auto;
  height: 100%;
  background-image: url(../IMG/header-bgr.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.header-content .header-title {
  width: 100%;
  margin: 0 auto;
  font-family: "Roboto", sans-serif;
  font-size: 4.3rem;
  line-height: 4.6rem;
  font-weight: 400;
  color: #FFFFFF;
  padding-top: 18rem;
  text-transform: capitalize;
  text-align: center;
}

.header-content .header-text {
  width: 100%;
  margin: 0 auto;
  font-family: "Roboto", sans-serif;
  font-size: 1.4rem;
  line-height: 1.8rem;
  font-weight: 400;
  color: #FFFFFF;
  padding-top: 1.2rem;
  text-align: center;
}

.header-content .header-link {
  display: block;
  width: 100%;
  margin: 0 auto;
  font-family: "Roboto", sans-serif;
  font-size: 1.3rem;
  line-height: 1.5rem;
  font-weight: 400;
  color: #FFFFFF;
  padding-top: 3rem;
  text-align: center;
  text-transform: uppercase;
  padding-bottom: 20rem;
}

.header-content .header-link:hover {
  text-decoration: underline;
}

.design-container {
  width: 50rem;
  margin: 8rem auto;
}

.design-container .design-title {
  width: 100%;
  margin: 0 auto;
  font-family: "Roboto", sans-serif;
  font-size: 4.3rem;
  line-height: 5.8rem;
  font-weight: 400;
  color: #000000;
  text-transform: capitalize;
  text-align: center;
}

.design-container .design-text {
  width: 100%;
  margin: 0 auto;
  font-family: "Roboto", sans-serif;
  font-size: 1.4rem;
  line-height: 2.4rem;
  font-weight: 400;
  color: #A0A0A0;
  padding-top: 2.5rem;
  text-align: center;
}

.design-container .design-link {
  display: block;
  width: 100%;
  margin: 0 auto;
  font-family: "Roboto", sans-serif;
  font-size: 1.3rem;
  line-height: 2.1rem;
  font-weight: 400;
  color: #000000;
  padding-top: 2.5rem;
  text-align: center;
  text-transform: uppercase;
}

.design-container .design-link:hover {
  text-decoration: underline;
}

@media screen and (max-width: 1200px) {
  .wrapper {
    max-width: 1200px;
  }
  .header-menu {
    width: 100%;
    margin: 2rem auto;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

@media screen and (max-width: 992px) {
  .wrapper {
    max-width: 992px;
  }
  .header-content .header-title {
    padding-top: 10rem;
  }
  .header-content .header-link {
    padding: 10rem 0;
    font-size: 2.7rem;
  }
}

@media screen and (max-width: 768px) {
  .wrapper {
    max-width: 768px;
  }
  .header-menu {
    width: 100%;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: #9AA8B1;
  }
  .header-menu a {
    display: block;
    font-family: "Roboto", sans-serif;
    font-size: 1.3rem;
    line-height: 1.5rem;
    font-weight: 400;
    color: #000000;
    text-transform: uppercase;
    margin-bottom: 1rem;
  }
  .header-menu .header-logo {
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
    margin: 1rem 0;
  }
  .header-menu .header-list-1 {
    display: block;
  }
  .header-menu .header-list-1 .menu-link1 {
    margin-right: 0;
  }
  .header-content .header-title {
    padding-top: 5rem;
  }
  .header-content .header-text {
    padding-top: 1rem;
  }
  .header-content .header-link {
    padding-top: 5rem;
    padding-bottom: 10rem;
    font-size: 2.7rem;
  }
}

@media screen and (max-width: 576px) {
  .wrapper {
    max-width: 576px;
  }
}
/*# sourceMappingURL=slyles.css.map */