/* ---------Commot settings------------ */
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: 0;
  padding: 0;
  margin: 0;
  border: 0;
}

html {
  font-size: 10px;
  line-height: 10px;
}

body {
  overflow-x: hidden;
}

ul, ol, li {
  list-style: none;
}

a {
  text-decoration: none;
}

.header-container {
  width: 100vw;
  margin: 0 auto;
}

.header-menu {
  width: 121rem;
  margin: 3rem auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-menu a {
  display: block;
  font-family: "Roboto", sans-serif;
  font-size: 1.3rem;
  line-height: 1.5rem;
  font-weight: 400;
  color: #000000;
  text-transform: uppercase;
}

.header-menu a:hover {
  text-decoration: underline;
}

.header-menu .header-list-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header-menu .header-list-1 .menu-link1 {
  margin-right: 2.5rem;
}

.header-content {
  width: 100%;
  margin: 0 auto;
  height: 100%;
  background-image: url(../IMG/header-bgr.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.header-content .header-title {
  width: 100%;
  margin: 0 auto;
  font-family: "Roboto", sans-serif;
  font-size: 4.3rem;
  line-height: 4.6rem;
  font-weight: 400;
  color: #FFFFFF;
  padding-top: 18rem;
  text-transform: capitalize;
  text-align: center;
}

.header-content .header-text {
  width: 100%;
  margin: 0 auto;
  font-family: "Roboto", sans-serif;
  font-size: 1.4rem;
  line-height: 1.8rem;
  font-weight: 400;
  color: #FFFFFF;
  padding-top: 1.2rem;
  text-align: center;
}

.header-content .header-link {
  display: block;
  width: 100%;
  margin: 0 auto;
  font-family: "Roboto", sans-serif;
  font-size: 1.3rem;
  line-height: 1.5rem;
  font-weight: 400;
  color: #FFFFFF;
  padding-top: 3rem;
  text-align: center;
  text-transform: uppercase;
  padding-bottom: 20rem;
}

.header-content .header-link:hover {
  text-decoration: underline;
}

.design-container {
  width: 50rem;
  margin: 8rem auto;
}

.design-container .design-title {
  width: 100%;
  margin: 0 auto;
  font-family: "Roboto", sans-serif;
  font-size: 4.3rem;
  line-height: 5.8rem;
  font-weight: 400;
  color: #000000;
  text-transform: capitalize;
  text-align: center;
}

.design-container .design-text {
  width: 100%;
  margin: 0 auto;
  font-family: "Roboto", sans-serif;
  font-size: 1.4rem;
  line-height: 2.4rem;
  font-weight: 400;
  color: #A0A0A0;
  padding-top: 2.5rem;
  text-align: center;
}

.design-container .design-link {
  display: block;
  width: 100%;
  margin: 0 auto;
  font-family: "Roboto", sans-serif;
  font-size: 1.3rem;
  line-height: 2.1rem;
  font-weight: 400;
  color: #000000;
  padding-top: 2.5rem;
  text-align: center;
  text-transform: uppercase;
}

.design-container .design-link:hover {
  text-decoration: underline;
}

.computers-container {
  width: 121rem;
  margin: 8rem auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.computers-container .computers-item1 {
  margin-right: 3rem;
}

.computers-container .computers-img {
  height: 40rem;
  width: 55rem;
  -o-object-fit: cover;
     object-fit: cover;
}

.computers-container .computers-img img {
  width: 100%;
  height: 100%;
}

.computers-container .computers-title {
  width: 100%;
  margin: 0 auto;
  padding-top: 5rem;
  font-family: "Roboto", sans-serif;
  font-size: 2.7rem;
  line-height: 3rem;
  font-weight: 400;
  color: #000000;
  text-align: center;
  text-transform: capitalize;
}

.computers-container .computers-link {
  display: block;
  width: 100%;
  margin: 0 auto;
  font-family: "Roboto", sans-serif;
  font-size: 1.3rem;
  line-height: 1.5rem;
  font-weight: 400;
  color: #000000;
  padding-top: 2.5rem;
  text-align: center;
  text-transform: uppercase;
}

.computers-container .computers-link:hover {
  text-decoration: underline;
}

.products-container {
  width: 121rem;
  margin: 10rem auto;
}

.products-header {
  width: 28rem;
  margin: 0 auto;
}

.products-header .products-title {
  width: 100%;
  margin: 0 auto;
  font-family: "Roboto", sans-serif;
  font-size: 3.4rem;
  line-height: 3.6rem;
  font-weight: 400;
  color: #000000;
  text-align: center;
  text-transform: capitalize;
}

.products-header .products-text {
  width: 100%;
  margin: 0 auto;
  font-family: "Roboto", sans-serif;
  font-size: 1.4rem;
  line-height: 1.8rem;
  font-weight: 400;
  color: #A0A0A0;
  padding-top: 1.6rem;
  text-align: center;
}

.products-header .products-scroll {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 5rem;
  margin-bottom: 2.5rem;
}

.products-header .products-scroll .products-cuadr {
  width: 0.7rem;
  height: 0.7rem;
  background-color: #000000;
  margin-right: 1.6rem;
}

.products-header .products-scroll .products-cuadr3 {
  margin-right: 0;
}

.products-row {
  width: 100%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.products-card {
  margin-right: 2.5rem;
}

.products-card .products-name {
  width: 100%;
  margin: 0 auto;
  font-family: "Roboto", sans-serif;
  font-size: 1.3rem;
  line-height: 2.1rem;
  font-weight: 400;
  color: #A0A0A0;
  padding-top: 2rem;
  text-align: left;
  text-transform: capitalize;
}

.products-card .products-price {
  width: 100%;
  margin: 0 auto;
  font-family: "Roboto", sans-serif;
  font-size: 1.3rem;
  line-height: 2.1rem;
  font-weight: 400;
  color: #A0A0A0;
  padding-top: 1rem;
  text-align: left;
}

.products-card4 {
  margin-right: 0;
}

.main-container {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  background-image: url(../IMG/main-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.main-container .main-title {
  width: 100%;
  margin: 0 auto;
  padding-top: 17rem;
  font-family: "Roboto", sans-serif;
  font-size: 6.6rem;
  line-height: 7rem;
  font-weight: 400;
  color: #FFFFFF;
  text-transform: capitalize;
  text-align: center;
}

.main-container .main-text {
  width: 100%;
  margin: 0 auto;
  font-family: "Roboto", sans-serif;
  font-size: 1.4rem;
  line-height: 1.6rem;
  font-weight: 400;
  color: #FFFFFF;
  padding-top: 1.5rem;
  text-align: center;
}

.main-container .main-link {
  display: block;
  width: 100%;
  margin: 0 auto;
  font-family: "Roboto", sans-serif;
  font-size: 1.3rem;
  line-height: 1.5rem;
  font-weight: 400;
  color: #FFFFFF;
  padding-top: 3rem;
  padding-bottom: 19rem;
  text-align: center;
  text-transform: uppercase;
}

.main-container .main-link:hover {
  text-decoration: underline;
}

.made-container {
  width: 110rem;
  margin: 0 auto;
}

.made-item1 {
  width: 80rem;
  margin: 0 auto;
}

.made-item1 .made-title1 {
  width: 100%;
  margin: 0 auto;
  padding-top: 11rem;
  font-family: "Roboto", sans-serif;
  font-size: 3.4rem;
  line-height: 3.6rem;
  font-weight: 400;
  color: #000000;
  text-transform: capitalize;
  text-align: center;
}

.made-item1 .made-text1 {
  width: 100%;
  margin: 0 auto;
  padding-top: 2.5rem;
  font-family: "Roboto", sans-serif;
  font-size: 1.4rem;
  line-height: 2.4rem;
  font-weight: 400;
  color: #A0A0A0;
  text-align: center;
}

.made-img {
  width: 100%;
  margin: 0 auto;
  text-align: center;
  padding-top: 2.5rem;
}

.made-item2 {
  width: 80rem;
  margin: 0 auto;
}

.made-item2 .made-title2 {
  width: 100%;
  margin: 0 auto;
  padding-top: 4rem;
  font-family: "Roboto", sans-serif;
  font-size: 3.4rem;
  line-height: 3.6rem;
  font-weight: 400;
  color: #000000;
  text-transform: capitalize;
  text-align: center;
}

.made-item2 .made-text2 {
  width: 100%;
  margin: 0 auto;
  padding-top: 2.5rem;
  font-family: "Roboto", sans-serif;
  font-size: 1.4rem;
  line-height: 2.4rem;
  font-weight: 400;
  color: #A0A0A0;
  text-align: center;
}

.gallery-container {
  width: 95%;
  margin: 8rem auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (4)[1fr];
      grid-template-columns: repeat(1fr, 4);
  -ms-grid-rows: (6)[1fr];
      grid-template-rows: repeat(1fr, 6);
  grid-gap: 2rem;
  justify-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
      grid-template-areas: "a b c d e f " "a1 b1 c1 d1 e1 f1 " "a2 b2 c2 d2 e2 f2 " "a3 b3 c3 d3 e3 f3 ";
}

.gallery-container .gallery-item {
  width: 20rem;
  height: 27rem;
}

.gallery-container .gallery-item img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.gallery-container .gallery-item1 {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: a;
}

.gallery-container .gallery-item2 {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: b;
}

.gallery-container .gallery-item3 {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: c;
}

.gallery-container .gallery-item4 {
  -ms-grid-row: 1;
  -ms-grid-column: 4;
  grid-area: d;
}

.gallery-container .gallery-item5 {
  -ms-grid-row: 1;
  -ms-grid-column: 5;
  grid-area: e;
}

.gallery-container .gallery-item6 {
  -ms-grid-row: 1;
  -ms-grid-column: 6;
  grid-area: f;
}

.gallery-container .gallery-item7 {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: a1;
}

.gallery-container .gallery-item8 {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: b1;
}

.gallery-container .gallery-item9 {
  -ms-grid-row: 2;
  -ms-grid-column: 3;
  grid-area: c1;
}

.gallery-container .gallery-item10 {
  -ms-grid-row: 2;
  -ms-grid-column: 4;
  grid-area: d1;
}

.gallery-container .gallery-item11 {
  -ms-grid-row: 2;
  -ms-grid-column: 5;
  grid-area: e1;
}

.gallery-container .gallery-item12 {
  -ms-grid-row: 2;
  -ms-grid-column: 6;
  grid-area: f1;
}

.gallery-container .gallery-item13 {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: a2;
}

.gallery-container .gallery-item14 {
  -ms-grid-row: 3;
  -ms-grid-column: 2;
  grid-area: b2;
}

.gallery-container .gallery-item15 {
  -ms-grid-row: 3;
  -ms-grid-column: 3;
  grid-area: c2;
}

.gallery-container .gallery-item16 {
  -ms-grid-row: 3;
  -ms-grid-column: 4;
  grid-area: d2;
}

.gallery-container .gallery-item17 {
  -ms-grid-row: 3;
  -ms-grid-column: 5;
  grid-area: e2;
}

.gallery-container .gallery-item18 {
  -ms-grid-row: 3;
  -ms-grid-column: 6;
  grid-area: f2;
}

.gallery-container .gallery-item19 {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  grid-area: a3;
}

.gallery-container .gallery-item20 {
  -ms-grid-row: 4;
  -ms-grid-column: 2;
  grid-area: b3;
}

.gallery-container .gallery-item21 {
  -ms-grid-row: 4;
  -ms-grid-column: 3;
  grid-area: c3;
}

.gallery-container .gallery-item22 {
  -ms-grid-row: 4;
  -ms-grid-column: 4;
  grid-area: d3;
}

.gallery-container .gallery-item23 {
  -ms-grid-row: 4;
  -ms-grid-column: 5;
  grid-area: e3;
}

.gallery-container .gallery-item24 {
  -ms-grid-row: 4;
  -ms-grid-column: 6;
  grid-area: f3;
}

@media screen and (max-width: 1200px) {
  .wrapper {
    max-width: 1200px;
  }
  .header-menu {
    width: 100%;
    margin: 2rem auto;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .design-container {
    width: 50rem;
    margin: 5rem auto;
  }
  .computers-container {
    width: 100%;
    margin: 2rem auto;
  }
  .computers-container .computers-img {
    height: 40rem;
    width: 48rem;
  }
  .computers-container .computers-title {
    padding-top: 3rem;
  }
  .products-container {
    width: 100rem;
    margin: 8rem auto;
  }
  .products-container .products-card {
    margin-right: 2rem;
  }
  .products-container .products-card4 {
    margin-right: 0;
  }
  .products-container .products-img {
    width: 23rem;
    height: 30rem;
  }
  .products-container .products-img img {
    width: 100%;
    height: 100%;
  }
  .made-container {
    width: 99rem;
    margin: 0 auto;
  }
  .made-container .made-title1 {
    padding-top: 8rem;
  }
  .made-container .made-img {
    width: 95%;
  }
  .made-container .made-img img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .gallery-container .gallery-item {
    width: 14rem;
    height: 20rem;
  }
}

@media screen and (max-width: 992px) {
  .wrapper {
    max-width: 992px;
  }
  .header-content .header-title {
    padding-top: 10rem;
  }
  .header-content .header-link {
    padding: 10rem 0;
    font-size: 2.7rem;
  }
  .design-container {
    width: 50rem;
    margin: 3rem auto;
  }
  .design-container .design-text {
    padding-top: 1.5rem;
  }
  .design-container .design-link {
    padding-top: 1.5rem;
  }
  .computers-container .computers-item1 {
    margin-right: 2rem;
  }
  .computers-container .computers-img {
    height: 35rem;
    width: 39rem;
  }
  .computers-container .computers-title {
    padding-top: 3rem;
  }
  .products-container {
    width: 100%;
    margin: 5rem auto;
  }
  .products-container .products-scroll {
    margin: 2.5rem auto;
  }
  .products-row {
    width: 100%;
    margin: 0 auto;
    display: -ms-grid;
    display: grid;
        grid-template-areas: "a b" "c d";
    -ms-grid-rows: (2)[1fr];
        grid-template-rows: repeat(1fr, 2);
    grid-template-rows: repeat(1fr, 2);
    grid-gap: 5rem;
    justify-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-line-pack: center;
        align-content: center;
  }
  .products-card {
    margin: 0;
  }
  .products-card1 {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: a;
  }
  .products-card2 {
    -ms-grid-row: 1;
    -ms-grid-column: 2;
    grid-area: b;
  }
  .products-card3 {
    -ms-grid-row: 1;
    -ms-grid-column: 3;
    grid-area: c;
  }
  .products-card4 {
    -ms-grid-row: 1;
    -ms-grid-column: 4;
    grid-area: d;
  }
  .products-img {
    width: 31rem;
    height: 43rem;
  }
  .products-img img {
    width: 100%;
    height: 100%;
  }
  .made-container {
    width: 75rem;
  }
  .made-container .made-item1 {
    width: 95%;
  }
  .made-container .made-item1 .made-title1 {
    padding-top: 8rem;
  }
  .made-container .made-item2 {
    width: 95%;
  }
  .gallery-container {
    width: 95%;
    margin: 5rem auto;
    -ms-grid-rows: (6)[1fr];
        grid-template-rows: repeat(1fr, 6);
    -ms-grid-columns: (4)[1fr];
        grid-template-columns: repeat(1fr, 4);
        grid-template-areas: "a b c d" "e f a1 b1" "c1 d1 e1 f1" "a2 b2 c2 d2" "e2 f2 a3 b3" "c3 d3 e3 f3 ";
  }
  .gallery-container .gallery-item {
    width: 18rem;
    height: 25rem;
  }
}

@media screen and (max-width: 768px) {
  .wrapper {
    max-width: 768px;
  }
  .header-menu {
    width: 100%;
    margin: 0 auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    background-color: #9AA8B1;
  }
  .header-menu a {
    margin-bottom: 1rem;
  }
  .header-menu .header-logo {
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
    margin: 1rem 0;
  }
  .header-menu .header-list-1 {
    display: block;
  }
  .header-menu .header-list-1 .menu-link1 {
    margin-right: 0;
  }
  .header-content .header-title {
    padding-top: 5rem;
  }
  .header-content .header-text {
    padding-top: 1rem;
  }
  .header-content .header-link {
    padding-top: 5rem;
    padding-bottom: 10rem;
    font-size: 2.7rem;
  }
  .design-container {
    width: 50rem;
    margin: 3rem auto;
  }
  .design-container .design-link {
    font-size: 2.7rem;
    color: #A0A0A0;
  }
  .computers-container {
    width: 100%;
    margin: 3rem auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .computers-container .computers-item {
    margin-bottom: 3rem;
  }
  .computers-container .computers-item1 {
    margin-right: 0;
  }
  .computers-container .computers-img {
    height: 40rem;
    width: 55rem;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .computers-container .computers-title {
    padding-top: 1rem;
  }
  .computers-container .computers-link {
    padding-top: 2rem;
    font-size: 2.7rem;
    color: #A0A0A0;
  }
  .products-container {
    width: 100%;
    margin: 3rem auto;
  }
  .products-container .products-row {
    grid-gap: 3rem;
  }
  .main-container .main-title {
    padding-top: 6rem;
    width: 95%;
  }
  .main-container .main-link {
    font-size: 2.7rem;
  }
  .made-container {
    width: 60rem;
  }
  .made-container .made-item1 .made-title1 {
    padding-top: 5rem;
  }
  .gallery-container .gallery-item {
    width: 12rem;
    height: 17rem;
  }
}

@media screen and (max-width: 576px) {
  .wrapper {
    max-width: 576px;
  }
  .design-container {
    width: 30rem;
    margin: 3rem auto;
  }
  .computers-container .computers-img {
    height: 30rem;
    width: 40rem;
  }
  .products-row {
    width: 100%;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .products-row .products-name {
    text-align: center;
  }
  .products-row .products-price {
    text-align: center;
  }
  .made-container {
    width: 30rem;
  }
  .gallery-container {
    width: 95%;
    margin: 3rem auto;
    -ms-grid-rows: (12)[1fr];
        grid-template-rows: repeat(1fr, 12);
    -ms-grid-columns: (2)[1fr];
        grid-template-columns: repeat(1fr, 2);
        grid-template-areas: "a b" "c d" "e f" "a1 b1" "c1 d1" "e1 f1" "a2 b2" "c2 d2" "e2 f2" "a3 b3" "c3 d3" "e3 f3";
  }
  .gallery-container .gallery-item {
    width: 18rem;
    height: 25rem;
  }
}
/*# sourceMappingURL=slyles.css.map */