@import "reset";
@import "variables";


// -------------------Header-------------------------
.header-container{
    width: 100vw;
    margin: 0 auto;
}
.header-menu{
    width: 121rem;
    margin: 3rem auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    a{
        display: block;
        @include textStyle($mainFont, $smallSize, $mainFontWeight, 1.5rem, $colorDark);
        text-transform: uppercase;
        &:hover{
            text-decoration: underline;
        }
    }
    .header-list-1{
        display: flex;
        .menu-link1{
            margin-right: 2.5rem;
        }
    }
}
.header-content{
    width: 100%;
    margin: 0 auto;
    height: 100%;
    background-image: url(../IMG/header-bgr.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    .header-title{
        width: 100%;
        margin: 0 auto;
        @include textStyle($mainFont, $bigTitleSize, $mainFontWeight, 4.6rem, $colorLight);
        padding-top: 18rem;
        text-transform: capitalize;
        text-align: center;
    }
    .header-text{
        width: 100%;
        margin: 0 auto;
        @include textStyle($mainFont, $mainSize, $mainFontWeight, 1.8rem, $colorLight);
        padding-top: 1.2rem;
        text-align: center;
    }
    .header-link{
        display: block;
        width: 100%;
        margin: 0 auto;
        @include textStyle($mainFont, $smallSize, $mainFontWeight, 1.5rem, $colorLight);
        padding-top: 3rem;
        text-align: center;
        text-transform: uppercase;
        padding-bottom: 20rem;
        &:hover{
            text-decoration: underline;
        }
    }
}

// -------------------Design-------------------------
.design-container{
    width: 50rem;
    margin: 8rem auto;
    .design-title{
        width: 100%;
        margin: 0 auto;
        @include textStyle($mainFont, $bigTitleSize, $mainFontWeight, 5.8rem, $colorDark);
        text-transform: capitalize;
        text-align: center;
    }
    .design-text{
        width: 100%;
        margin: 0 auto;
        @include textStyle($mainFont, $mainSize, $mainFontWeight, 2.4rem, $infoColor);
        padding-top: 2.5rem;
        text-align: center;
    }
    .design-link{
        display: block;
        width: 100%;
        margin: 0 auto;
        @include textStyle($mainFont, $smallSize, $mainFontWeight, 2.1rem, $colorDark);
        padding-top: 2.5rem;
        text-align: center;
        text-transform: uppercase;
        &:hover{
            text-decoration: underline;
        }
    }
}
// -------------------Computers-------------------------
.computers-container{
    width: 121rem;
    margin: 8rem auto;
    display: flex;  
    justify-content: center;
    align-items: center;
    .computers-item1{
        margin-right: 3rem;
    }
    .computers-img{
        height: 40rem;
        width: 55rem;
        object-fit: cover;
        img{
            width: 100%;
            height: 100%;
        }
    }
    .computers-title{
        width: 100%;
        margin: 0 auto;
        padding-top: 5rem;
        @include textStyle($mainFont, $middleSize, $mainFontWeight, 3rem, $colorDark);
        text-align: center;
        text-transform: capitalize;
    }
    .computers-link{
        display: block;
        width: 100%;
        margin: 0 auto;
        @include textStyle($mainFont, $smallSize, $mainFontWeight, 1.5rem, $colorDark);
        padding-top: 2.5rem;
        text-align: center;
        text-transform: uppercase;
        &:hover{
            text-decoration: underline;
        }
    }
}

// -------------------Products-------------------------
.products-container{
    width: 121rem;
    margin: 10rem auto;
    // padding-top: 10rem;
}
.products-header{
    width: 28rem;
    margin: 0 auto;
    .products-title{
        width: 100%;
        margin: 0 auto;
        @include textStyle($mainFont, $titleSize, $mainFontWeight, 3.6rem, $colorDark);
        text-align: center;
        text-transform: capitalize; 
    }
    .products-text{
        width: 100%;
        margin: 0 auto;
        @include textStyle($mainFont, $mainSize, $mainFontWeight, 1.8rem, $infoColor);
        padding-top: 1.6rem;
        text-align: center;
    }
    .products-scroll{
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 5rem;
        margin-bottom: 2.5rem;
        .products-cuadr{
            width: 0.7rem;
            height: 0.7rem;
            background-color:$colorDark;
            margin-right: 1.6rem;
        }
        .products-cuadr3{
            margin-right: 0;
        }
    }
}
.products-row{
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.products-card{
    margin-right: 2.5rem;
    .products-name{
        width: 100%;
        margin: 0 auto;
        @include textStyle($mainFont, $smallSize, $mainFontWeight, 2.1rem, $infoColor);
        padding-top: 2rem;
        text-align: left; 
        text-transform: capitalize; 
    }
    .products-price{
        width: 100%;
        margin: 0 auto;
        @include textStyle($mainFont, $smallSize, $mainFontWeight, 2.1rem, $infoColor);
        padding-top: 1rem;
        text-align: left;
    }
}
.products-card4{
    margin-right: 0;
}

// -------------------Main-------------------------
.main-container{
    width: 100%;
    height: 100%;
    margin: 0 auto;
    background-image: url(../IMG/main-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    .main-title{
        width: 100%;
        margin: 0 auto;
        padding-top: 17rem;
        @include textStyle($mainFont, $H1size, $mainFontWeight, 7rem, $colorLight);
        text-transform: capitalize;
        text-align: center;
    }
    .main-text{
        width: 100%;
        margin: 0 auto;
        @include textStyle($mainFont, $mainSize, $mainFontWeight, 1.6rem, $colorLight);
        padding-top: 1.5rem;
        text-align: center;
    }
    .main-link{
        display: block;
        width: 100%;
        margin: 0 auto;
        @include textStyle($mainFont, $smallSize, $mainFontWeight, 1.5rem, $colorLight);
        padding-top: 3rem;
        padding-bottom: 19rem;
        text-align: center;
        text-transform: uppercase;
        &:hover{
            text-decoration: underline;
        }
    }
}
// -------------------Made-------------------------
.made-container{
    width: 110rem;
    margin: 0 auto;
}
.made-item1{
    width: 80rem;
    margin: 0 auto;
    .made-title1{
        width: 100%;
        margin: 0 auto;
        padding-top: 11rem;
        @include textStyle($mainFont, $titleSize, $mainFontWeight, 3.6rem, $colorDark);
        text-transform: capitalize;
        text-align: center;
    }
    .made-text1{
        width: 100%;
        margin: 0 auto;
        padding-top: 2.5rem;
        @include textStyle($mainFont, $mainSize, $mainFontWeight, 2.4rem, $infoColor);
        text-align: center;
    }
}
.made-img{
    width: 100%;
    margin: 0 auto;
    text-align: center;
    padding-top: 2.5rem;
}
.made-item2{
    width: 80rem;
    margin: 0 auto;
    .made-title2{
        width: 100%;
        margin: 0 auto;
        padding-top: 4rem;
        @include textStyle($mainFont, $titleSize, $mainFontWeight, 3.6rem, $colorDark);
        text-transform: capitalize;
        text-align: center;
    }
    .made-text2{
        width: 100%;
        margin: 0 auto;
        padding-top: 2.5rem;
        @include textStyle($mainFont, $mainSize, $mainFontWeight, 2.4rem, $infoColor);
        text-align: center;
    }
}
// -------------------gallery-------------------------
.gallery-container{
    width: 95%;
    margin: 8rem auto;
    display: grid;
    grid-template-columns: repeat(1fr,4);
    grid-template-rows: repeat(1fr,6);
    grid-gap: 2rem;
    justify-items: center;
    justify-content: center;
    align-items: center;
    grid-template-areas: "a b c d e f "
    "a1 b1 c1 d1 e1 f1 "
    "a2 b2 c2 d2 e2 f2 "
    "a3 b3 c3 d3 e3 f3 ";
    .gallery-item{
        width: 20rem;
        height: 27rem;
        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    .gallery-item1{
        grid-area: a;  
    }
    .gallery-item2{
        grid-area: b;  
    }
    .gallery-item3{
        grid-area: c;  
    }
    .gallery-item4{
        grid-area: d;  
    }
    .gallery-item5{
        grid-area: e;  
    }
    .gallery-item6{
        grid-area: f;  
    }
    .gallery-item7{
        grid-area: a1;  
    }
    .gallery-item8{
        grid-area: b1;  
    }
    .gallery-item9{
        grid-area: c1;  
    }
    .gallery-item10{
        grid-area: d1;  
    }
    .gallery-item11{
        grid-area: e1;  
    }
    .gallery-item12{
        grid-area: f1;  
    }
    .gallery-item13{
        grid-area: a2;  
    }
    .gallery-item14{
        grid-area: b2;  
    }
    .gallery-item15{
        grid-area: c2;  
    }
    .gallery-item16{
        grid-area: d2;  
    }
    .gallery-item17{
        grid-area: e2;  
    }
    .gallery-item18{
        grid-area: f2;  
    }
    .gallery-item19{
        grid-area: a3;  
    }
    .gallery-item20{
        grid-area: b3;  
    }
    .gallery-item21{
        grid-area: c3;  
    }
    .gallery-item22{
        grid-area: d3;  
    }
    .gallery-item23{
        grid-area: e3;  
    }
    .gallery-item24{
        grid-area: f3;  
    }
}


@media screen and (max-width: 1200px) {
    .wrapper{
        max-width: 1200px;
    }
    // -------------------Header-------------------------
    .header-menu{
        width: 100%;
        margin: 2rem auto;
        justify-content: space-around;
    }
    // ------------------design-------------------------
    .design-container{
        width: 50rem;
        margin: 5rem auto;
    }
    // ------------------computers-------------------------
    .computers-container{
        width: 100%;
        margin: 2rem auto;
        .computers-img{
            height: 40rem;
            width: 48rem;
        }
        .computers-title{
            padding-top: 3rem;
        }
    }
    // ------------------products-------------------------
    .products-container{
        width: 100rem;
        margin: 8rem auto;
        .products-card{
            margin-right: 2rem;
        }
        .products-card4{
            margin-right: 0;
        }
        .products-img{
            width: 23rem;
            height: 30rem;
            img{
                width: 100%;
                height: 100%;
            }
        }
    }
    // -------------------Made-------------------------
    .made-container{
        width: 99rem;
        margin: 0 auto;
        .made-title1{
            padding-top: 8rem;
        }
        .made-img{
            width: 95%;
            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
            }   
        }
    }
        // -------------------gallery-------------------------
        .gallery-container{
            .gallery-item{
                width: 14rem;
                height: 20rem;
            }
        }
}




@media screen and (max-width: 992px) {
    // ------------------Header-------------------------
    .wrapper{
        max-width: 992px;
    }
    .header-content{
        .header-title{
            padding-top: 10rem;
        }
        .header-link{
            padding:10rem 0;
            font-size: $middleSize;
        }
    }
    // -----------------design-------------------------
    .design-container{
        width: 50rem;
        margin: 3rem auto;
        .design-text{
            padding-top: 1.5rem;
        }
        .design-link{
            padding-top: 1.5rem;
        }
    }
    // -----------------computers-------------------------
    .computers-container{
        .computers-item1{
            margin-right: 2rem;
        }
        .computers-img{
            height: 35rem;
            width: 39rem;
        }
        .computers-title{
            padding-top: 3rem;
        }
    }
    // -----------------products-------------------------
    .products-container{
        width: 100%;
        margin: 5rem auto;
        .products-scroll{
            margin: 2.5rem auto;
        }
    }
    .products-row{
        width: 100%;
        margin: 0 auto;
        display: grid;
        grid-template-areas: "a b"
                             "c d";
        grid-template-rows: repeat(1fr,2);
        grid-template-rows: repeat(1fr,2);
        grid-gap: 5rem;
        justify-items: center;
        justify-content: center;
        align-items: center;
        align-content: center;
    }
    .products-card{
        margin: 0;
    }
    .products-card1{
      grid-area: a;  
    }
    .products-card2{
      grid-area: b;  
    }
    .products-card3{
      grid-area: c;  
    }
    .products-card4{
      grid-area: d; 
    }
    .products-img{
        width: 31rem;
        height: 43rem;
        img{
            width: 100%;
            height: 100%;
        }
    }
    // -------------------Made-------------------------
    .made-container{
        width: 75rem;
        .made-item1{
            width: 95%;
            .made-title1{
            padding-top: 8rem;
            }
        }
        .made-item2{
            width: 95%;
        }
    }  
    // -------------------gallery-------------------------
    .gallery-container{
        width: 95%;
        margin: 5rem auto;
        grid-template-rows: repeat(1fr,6);
        grid-template-columns: repeat(1fr,4);
        grid-template-areas: "a b c d"
        "e f a1 b1"
        "c1 d1 e1 f1"
        "a2 b2 c2 d2"
        "e2 f2 a3 b3"
        "c3 d3 e3 f3 "; 
        .gallery-item{
            width: 18rem;
            height: 25rem;
        }
    }
}




@media screen and (max-width: 768px) {
    // -----------------header-------------------------
    .wrapper{
        max-width: 768px;
    }
    .header-menu{
        width: 100%;
        margin: 0 auto;
        flex-direction: column;
        justify-content: center;
        background-color: $mainColor;
        a{
            margin-bottom: 1rem;
        }
        .header-logo{
            order: -1;
            margin: 1rem 0;
        }
        .header-list-1{
            display: block;
            .menu-link1{
                margin-right: 0;
            }
        }
    }
    .header-content{
        .header-title{
            padding-top: 5rem;
        }
        .header-text{
            padding-top: 1rem;
        }
        .header-link{
            padding-top: 5rem;
            padding-bottom: 10rem;
            font-size: $middleSize;
        }
    }   
    // -----------------design-------------------------
    .design-container{
        width: 50rem;
        margin: 3rem auto;
        .design-link{
            font-size: $middleSize;
            color: $infoColor;
        }
    }
    // -----------------computers-------------------------
    .computers-container{
        width: 100%;
        margin: 3rem auto;  
        flex-direction: column;
        .computers-item{
            margin-bottom: 3rem;
        }
        .computers-item1{
            margin-right: 0;
        }
        .computers-img{
            height: 40rem;
            width: 55rem;
            object-fit: cover;
        }
        .computers-title{
            padding-top: 1rem;
        }
        .computers-link{
            padding-top: 2rem;
            font-size: $middleSize;
            color: $infoColor;
        }
    }
    // -----------------products-------------------------
    .products-container{
        width: 100%;
        margin: 3rem auto;
    .products-row{
        grid-gap: 3rem;
        }
    }
    // -------------------Main-------------------------
    .main-container{
        .main-title{
            padding-top: 6rem;
            width: 95%;
        }
        .main-link{
            font-size: $middleSize;
        }
    }
        // -------------------Made-------------------------
        .made-container{
            width: 60rem;
            .made-item1{
            .made-title1{
            padding-top: 5rem;
            }
        }
    }
    // -------------------gallery-------------------------
    .gallery-container{
        .gallery-item{
            width: 12rem;
            height: 17rem;
        }
    }
}




@media screen and (max-width: 576px) {
    // -----------------header-------------------------
    .wrapper{
        max-width: 576px;
    } 
    // -----------------design-------------------------
    .design-container{
        width: 30rem;
        margin: 3rem auto;
    }
    // -----------------computers-------------------------
    .computers-container{
        .computers-img{
            height: 30rem;
            width: 40rem;
        }
    }
    // -----------------products-------------------------
    .products-row{
        width: 100%;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .products-name{
            text-align: center; 
        }
        .products-price{
            text-align: center;
        }
    }
    // -------------------Made-------------------------
    .made-container{
         width: 30rem;
    }
    // -------------------gallery-------------------------
    .gallery-container{
        width: 95%;
        margin: 3rem auto;
        grid-template-rows: repeat(1fr,12);
        grid-template-columns: repeat(1fr,2);
        grid-template-areas: "a b"
        "c d"
        "e f"
        "a1 b1"
        "c1 d1"
        "e1 f1"
        "a2 b2"
        "c2 d2"
        "e2 f2"
        "a3 b3"
        "c3 d3"
        "e3 f3"; 
        .gallery-item{
            width: 18rem;
            height: 25rem;
        }
    }
}